{% load staticfiles %}

<html>
<head>
<title> Spaces </title>

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="https://apis.google.com/js/client:plusone.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/popup.js' %}"></script>

<!-- Selectize jQuery library for tagging -->
<link rel="stylesheet" type="text/css" href="{% static 'css/tagging/selectize.css' %}">
<script type="text/javascript" src="{% static 'js/tagging/selectize.js' %}"></script>


<script type="text/javascript">

    function signinCallback(authResult) {
    	$("#logout").fadeIn(0001); 
    }
  </script>

</head>

<body>
	<div id="header">
		<div id="logo_full">
			<span id="logo_1">Originate</span>
			<span id="logo_2">SPACES</span>
		</div>
		<div class="upper_right" id="add_profile">
			<img src="{% static 'img/profile.png' %}">
		</div>
		<div class="upper_right" id="add_post">
			<img src="{% static 'img/plus.png' %}">
		</div>
	</div>

	<!-- Add Post popup -->
	<div id="postPopup" class="popup"> 
		<div id="postPopupContent"> 
            <h2> Add Post </h2>
            <br>

            <form name="postForm" id="postForm" action="addPost" method="POST">
				<textarea name="short" id="short_description_popup" form="postForm" class="nonresize" placeholder="brief description"></textarea>
				<br><br>
				<!-- Tagging section. See http://brianreavis.github.io/selectize.js/ -->
				<h3>choose several tags</h3>
				<div id="tag-selector-wrapper">
				<select id="select-tag" name="tags" form="postForm" multiple placeholder="choose tags...">
				{% for tag in tags %}
					<option value={{tag.name}}>{{tag.name}}</option>
				{% endfor %}
				</select>
				</div>
				<script>
				$('#select-tag').selectize({
					maxItems: 5,
					delimiter: ',',
				    persist: false,
				    create: function(input) {
				        return {
				            value: input,
				            text: input
				        }
				    }
				});
				</script>	
				<!-- End of tagging section -->
				<br>	
				<h3>more details:</h3>	
				<textarea name="long" id="long_description_popup" form="postForm" class="nonresize" placeholder="more details"></textarea>
				<br/><br>
			
				{% csrf_token %}

				<input type="submit" value="Submit">
			</form>
        </div> 
    
    </div> 
   	<!-- end post popup -->

   	<!-- Profile popup -->
	<div id="profilePopup" class="popup"> 
		<div id="profilePopupContent"> 
            <h3> {{ user.name }} </p>
            <img id="profileImage" src={{ user.image }}?sz=200>
            <br><br>
            <!-- Update tags. See http://brianreavis.github.io/selectize.js/  -->
            <form name="updateTagsForm" id="updateTagsForm" action="updateTags" method="POST">
            	{% if first_login %}
            		<span>enter skills relevant to you</span>
            	{% else %}
            		<span>update your relevant skills</span>
            	{% endif %}
				
				<div id="tag-updater-wrapper">
				<select id="select-tag-update" name="tags" form="updateTagsForm" multiple placeholder="choose tags...">
				{% for tag in tags %}
					<option value={{tag.name}} {% if tag.userRelevant %} selected {% endif %} >{{tag.name}}</option>
				{% endfor %}
				</select>
				</div>
				<script>
				$('#select-tag-update').selectize({
					delimiter: ',',
				    persist: false,
				    create: function(input) {
				        return {
				            value: input,
				            text: input
				        }
				    }
				});
				</script>
				{% csrf_token %}

				<input type="submit" value="Update">
			</form>
			<!-- End of tagging form -->

			<br><br>
            <span id="signinButton" style="display:none;">
	          <span 
	            class="g-signin"
	            data-callback="signinCallback"
	            data-clientid="1058509999201-n23gtmm967b4itcgdnjplr22l7ve7qb7.apps.googleusercontent.com"
	            data-cookiepolicy="single_host_origin"
	            data-requestvisibleactions=""
	            data-scope="openid email">
	          </span>
	        </span>
            <div id="logout" style="display:none;">sign out</div>
        </div> 
    
    </div> 
   	<div id="backgroundPopup"></div>
   	<!-- end profile popup -->

	<table id="body_table">
		<tr>
			<td id="left_panel"> 

				<!-- Relevant Posts -->

				<div class="section_header skills">
					<div>in your skill set</div>
				</div>
				<div class="left_section skills">
			        <div class="overflow_section" id="relevant_posts">
			        	
			        	{% for post in relevant_posts %}

			        	<div class="ticket-{{post.id}} ticket_box" onclick="showTicket('{{post.id}}');" >
			        		<table class="fade">
				        		<tr>
					        		<td class="ticket_left_half">
						        		<img class="profilepic_small" src="{{ post.image }}"><br>
						        		<span id="ticket_name">{{ post.displayName}}</span>
					        		</td>
					        		<td class="ticket_description">
					        			<span class="description">
					        				{{ post.short_description }}
					        			</span>
					        			<span class="hidden_description" style="display:none">
					        				{{post.long_description }}
					        			</span>
					        			<span class="hidden_name" style="display:none">
					        				{{ post.poster }}
					        			</span>
					        			<span class="hidden_email" style="display:none">
					        				{{ post.email }}
					        			</span>
						        		<div class="tags">
						        			{{ post.tagnames }}
						        		</div>
					        		</td>
					        		<td class="ticket_rightview">
					        			<img class="speechbubble" src="{% static 'img/speechbubble.png' %}">
					        			<div class="num_comments">
						        			{{ post.numComments }}
					        			</div>
					        		</td>
				        		</tr>
			        		</table>
			        	</div>

			        	{% endfor %}

			        	<div id="no_skills_popup"
				        	{% if relevant_posts|length > 0 %} style="display:none;" 
				        	{% endif %}>
				        	<i>No posts matching your skill set<br>
			        		<span id="profile_popup_link">(click here to update)</span></i>
				        </div>

			        </div>
				</div>

				<!-- All Posts -->

				<div class="section_header all">
				<div>most recent</div>
				</div>
				<div class="left_section all">
			        <div class="overflow_section" id="all_posts">
			        	
			        	{% for post in all_posts %}

			        	<div class="ticket-{{post.id}} ticket_box" onclick="showTicket('{{post.id}}');">
			        		<table class="fade">
				        		<tr>
					        		<td class="ticket_left_half">
						        		<img class="profilepic_small" src="{{ post.image }}"><br>
						        		<span id="ticket_name">{{ post.displayName}}</span>
					        		</td>
					        		<td class="ticket_description">
					        			<span class="description">
					        				{{ post.short_description }}
					        			</span>
					        			<span class="hidden_description" style="display:none">
					        				{{post.long_description }}
					        			</span>
					        			<span class="hidden_name" style="display:none">
					        				{{ post.poster }}
					        			</span>
					        			<span class="hidden_email" style="display:none">
					        				{{ post.email }}
					        			</span>
						        		<div class="tags">
						        			{{ post.tagnames }}
						        		</div>
					        		</td>
					        		<td class="ticket_rightview">
					        			<img class="speechbubble" src="{% static 'img/speechbubble.png' %}">
					        			<div class="num_comments">
						        			{{ post.numComments }}
					        			</div>
					        		</td>
				        		</tr>
			        		</table>
			        	</div>

			        	{% endfor %}

			        </div>
				</div>
			</td>

			<!-- Right Panel -->

			<td id="right_panel">
				<div id="right_panel_fixed_height">
					<div id="right_panel_content">
						<div id="profilepic_box">
							<img id="profilepic_big" src="{{ display_post.image }}">
						</div>
						<div id="contact_me">
							<span id="contact_me_name">{{ display_post.poster }}</span><br>
							<a href="mailto:{{ display_post.email }}"><img id="email_img" src="{% static 'img/packet.png' %}"></a>

						</div>

						<div id="short_description">
							{{ display_post.short_description }}
						</div>
						<div id="tags_description">
							[ {{ display_post.tagnames }} ]
						</div>
						<div id="long_description">
							{{ display_post.long_description }}
						</div>

						<div id="previous_comments">
							{% for comment in display_post.comments %}
							<div class="comment_box">
								<table style="width: 100%;">
									<tr>
										<td class="comment_img_box">
											<img class="comment_img" src={{comment.image}}?sz=50>
											<span class="comment_name"> {{ display_post.displayName }}</span>
										</td>
										<td>
											<span class="comment_text">{{ comment.comment }}</span>
										</td>
									</tr>
								</table>
							</div>
							{% endfor %}
						</div>

						<form method="post" id="addCommentForm" action="addComment">
							{% csrf_token %}
							<input type="hidden" name="postID" value={{display_post.id}}>
							<input type="hidden" name="userImage" value={{user.image}}>
							<textarea class="ticket_comment" placeholder="Something to say?" name="comment" cols="25" rows="5"></textarea>
							<br>
							<input class="ticket_submit" type="submit" value="Submit" />
						</form>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div id="footer">
		<a href="mailto:test@originate.com">questions? comments?</a>
	</div>
</body>

{% if first_login %}
<script type="text/javascript">
	$( document ).ready(function() {
		console.log("asdf");
	   	$("#add_profile").click();
	});
</script>
{% endif %}

<!-- For Google Plus login -->
<script type="text/javascript">
        (function() {
         var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
         po.src = 'https://apis.google.com/js/client:plusone.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
       })();
 </script>

</html>