{% load staticfiles %}
<!DOCTYPE HTML>
<html>
  <head>
  <title>spaces</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript">

    function signinCallback(authResult) {

      if (authResult['hd'] != "originate.com") {
        console.log ("you fail!");
        disconnectUser(authResult['access_token']);
      } else {

        if (authResult['status']['signed_in']) {
          
          // get user information
          gapi.client.load('plus','v1', function(){
            var request = gapi.client.plus.people.get({
              'userId': 'me'
            });
            request.execute(function(resp) {

              // add csrf token to dictionary
              var dict = resp;
              dict['csrfmiddlewaretoken'] = '{{ csrf_token }}';

              // and send request to login
              $.ajax(
              {
                  url : "tryLogin",
                  type: "POST",
                  data : dict,
                  success:function(data, textStatus, jqXHR) 
                  {
                    document.location="/";
                  },
                  error: function(jqXHR, textStatus, errorThrown) 
                  {
                    alert("Error! Failed login");    
                  }
                });
              });
            });
        } else {
          // Update the app to reflect a signed out user
          // Possible error values:
          //   "user_signed_out" - User is signed-out
          //   "access_denied" - User denied access to your app
          //   "immediate_failed" - Could not automatically log in the user
          console.log('Sign-in state: ' + authResult['error']);
        }
      }
    }
  </script>
  </head>
  <body class="login">
    <div id="center_pane">
      login to Originate Spaces below
      <br><br>
      <span id="signinButton">
        <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="1058509999201-n23gtmm967b4itcgdnjplr22l7ve7qb7.apps.googleusercontent.com"
          data-cookiepolicy="single_host_origin"
          data-requestvisibleactions=""
          data-approvalprompt="force"
          data-scope="openid email">
        </span>
      </span>
    </div>

    <div id="results"></div>
    <div id="results2"></div>
    <!-- Place this asynchronous JavaScript just before your </body> tag -->
      <script type="text/javascript">
        (function() {
         var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
         po.src = 'https://apis.google.com/js/client:plusone.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
       })();
      </script>
  </body>
</hmtl>