body {
	margin:0px;
	font-family:"Lato";
}

/* HEADER */

#header {
	height:80px;
	background: black;
	font-family: "lato";
	color:white;
	text-align: center;
}

#logo_full {
padding-top: 3px;
margin-left:-200px;
left:50%;
position:relative;
float:left;
}

#logo_1 {
	font-size: 47px;
	top: -2px;
	font-weight: 100;
	position: relative;
}
#logo_2 {
	color:rgb(115,210,226);
	font-size: 60PX;
	font-weight: 900;
}

.upper_right {
	float:right;
	padding:5px;
}
.upper_right img{
	height:85%;
}
.upper_right#profile {
	margin-right:20px;
}

/* LEFT SECTION */ 

#body_table {
	width:100%;
	height:calc(100% - (126px));
	border-spacing: 0px
}

#left_panel {
	min-width: 400px;
	width: 35%;
	padding: 0px
}

.left_section {
	max-height:calc(50% - 30px);
	position:relative;
	overflow:auto;
}

.section_header {
	height:30px;
	min-height: 25px;
	position:relative;
	text-align: center;
}
.section_header div {
	position: relative;
	top: 6%;
	font-weight: 300;
	font-size: 21px;
}

.skills {
	background-color: rgb(25,232,141);
}
.all {
	background-color: rgb(115,210,226);;
}

.ticket_box {
	height:100px;
	background: #EDFDFF;
	float: left;
	width: 100%;
	border-radius: 15px;
	margin-bottom: 6px;
}

.profilepic_small {
	height: 60%;
}

.ticket_left_half {
	float:left;
	padding: 11px 13px 0px 12px;
	text-align: center;
}

.ticket_description {
	margin-left:65px;
	padding-right:75px;
	font-size:14px;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ticket_rightview {
	float:right;
	text-align: center;
}
.speechbubble {
	height:80px;
	margin-top:-30%;
}

#right_panel {
	width:100%;
	background: url(../img/background.jpg);
}

#right_panel_fixed_height {
	max-height: 100%;
	position: relative;
	overflow:auto;
}

#right_panel_content {
	text-align: center;
	position: relative;
	width:60%;
	margin: 80px auto 40px auto;
	border-radius:25px;
	background-color:rgba(255,255,255,.75);
	padding:47px 50px 7px 50px
}

#email_img {
	height:45px;
}

#short_description {
	font-size: 20px;
}
#long_description {
	font-size: 13px;
}

.ticket_comment {
	background-color: rgb(233, 233, 233);
	border:none;
	resize:none;
	width:95%;
	border-radius:25px;
	outline:0px;
	min-height:47px;
	text-align: center;
	padding:20px;
}
.ticket_submit {
	border: 2px solid rgb(233, 233, 233);
	background-color: #EDFDFF;
	width: 20%;
	height: 25px;
	border-radius: 15px;
	color: gray;
}

.ticket_submit:focus {
	outline:0;
}

/* Footer */
#footer {
	background-color:black;
	height:30px;
	text-align: center;
	padding:8px;
	font-family: "Lato"
}
#footer a{
	color: white;
	text-decoration: none;
	font-weight:300;
}
#footer a:hover {
	text-decoration: underline;
}

/* Fade */
.fade {
   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

.fade:hover {
  background: #fff;
}

