body {
	margin:0px;
	font-family:"Open Sans";
}

#body_table {
	width:100%;
	height:100%;
	border-spacing: 0px
}

#left_panel {
	min-width: 400px;
	width: 35%;
	padding: 0px
}

.left_section {
	max-height:45%;
	position:relative;
	overflow:auto;
}

.section_header {
	height:5%;
	min-height: 25px;
	position:relative;
	text-align: center;
	background-color: rgb(233, 233, 233);
}
.section_header span {
	position: relative;
	top: 20%;
	transform: translateY(-50%);
}

.ticket_box {
	height:100px;
	border-bottom: 2px solid rgb(233, 233, 233);
	background: #EDFDFF;
	float: left;
	width: 100%;
}

.profilepic_small {
	height: 60%;
}

.ticket_left_half {
	float:left;
	padding: 11px 13px 0px 12px;
	text-align: center;
}

.ticket_description {
	margin-left:65px;
	padding-right:75px;
	font-size:14px;
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ticket_rightview {
	float:right;
	text-align: center;
}
.speechbubble {
	height:80px;
	margin-top:-30%;
}

#right_panel {
	width:100%;
	background: url(../img/background.jpg);
}

/* Fade */
.fade {
   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

.fade:hover {
  background: #fff;
}

#right_panel_content {
	text-align: center;
	overflow: auto;
	position: relative;
	max-height: 100%;
}

.profilepic_big {
	margin-top:10%;
}

#email_img {
	height:45px;
}

#short_description {
	width:50%;
	margin:auto;
}
#long_description {
	margin:auto;
	width: 65%;
	font-size: 13px;
}

.ticket_comment {
	background-color: rgb(233, 233, 233);
	border:none;
	resize:none;
	border-radius:25px;
	width:47%;
	outline:0px;
	min-height:47px;
	text-align: center;
	padding:20px;
}
.ticket_submit {
	border: 2px solid rgb(233, 233, 233);
	background-color: #EDFDFF;
	width: 10%;
	height: 25px;
	border-radius: 15px;
	color: gray;
}

.ticket_submit:focus {
	outline:0;
}
