body {
	margin:0px;
	font-family:"Lato";
}

/* HEADER */

#header {
	height:80px;
	background: black;
	font-family: "lato";
	color:white;
	text-align: center;
}

#logo_full {
	padding-top: 3px;
	margin-left:-200px;
	left:50%;
	position:relative;
	float:left;
}

#logo_1 {
	font-size: 47px;
	top: -2px;
	font-weight: 100;
	position: relative;
}
#logo_2 {
	color:rgb(115,210,226);
	font-size: 60PX;
	font-weight: 900;
}

.upper_right {
	float:right;
	padding:5px;
    cursor: pointer;
}
.upper_right img{
	height:85%;
}
.upper_right#profile {
	margin-right:20px;
}

/* LEFT SECTION */ 

#body_table {
	width:100%;
	height:calc(100% - (126px));
	border-spacing: 0px
}

#left_panel {
	min-width: 350px;
	width: 30%;
	padding: 0px
}

.left_section {
	height:calc(50% - 30px);
	position:relative;
	overflow:auto;
}

.section_header {
	height:30px;
	min-height: 25px;
	position:relative;
	text-align: center;
}
.section_header div {
	position: relative;
	top: 6%;
	font-weight: 300;
	font-size: 21px;
}

.section_header.skills, .skills .ticket_box  {
	background-color: rgb(25,232,141);
}
.section_header.all, .all .ticket_box {
	background-color: rgb(115,210,226);;
}

.ticket_box {
	height:95px;
	float: left;
	width: 100%;
	padding-bottom: 6px;
	cursor:pointer;
}

.ticket_box table {
	background: #EDFDFF;
	border-radius: 15px;
}

.profilepic_small {
	height: 60px;
	border-radius:30px;
	margin: 2px;
}

.ticket_left_half {
	float:left;
	padding: 6px;
	width: 100%;
	text-align: center;
}

.ticket_description {
	margin:11px 0px 0px 65px;
	padding-right:75px;
	font-size:13px;
	min-width: 225px;
}

.ticket_rightview {
	text-align: right;
}

.ticket_rightview.follow {
	min-width: 27px;
}
.ticket_rightview.follow img {
	width: 23px;
}

.num_comments {
	top: -26px;
	font-size: 14px;
	position: relative;
	text-align: center;
	color: rgb(99, 99, 99);
}

.tags {
	color:rgb(110,110,110);
	font-size:14px;
	position:relative;
	top:1px;
}

.tag_link:hover {
	text-decoration: underline;
}

.speechbubble {
	height: 33px;
	margin-top:15px;
}

#no_skills_popup {
	text-align: center;
	margin-top: 20;
}
#profile_popup_link {
	cursor: pointer;
	color:gray;
}

#profile_popup_link:hover {
	color:lightgray;
}

#tagPopup {
	overflow: scroll;
	max-height: 78%;
	top: 13%;
}

/* RIGHT PANEL */

#right_panel {
	width:100%;
	background: url(../img/background.jpg);
}

#right_panel_fixed_height {
	max-height: 100%;
	position: relative;
	overflow:auto;
}

#right_panel_content {
	text-align: center;
	position: relative;
	width:80%;
	margin: 30px auto 40px auto;
	border-radius:25px;
	background:rgba(255,255,255,.75);
	padding:15px 10px 7px 10px;
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}
#right_panel_content:hover {
	background:rgba(255,255,255,1);
}

#profilepic_big {
	height:80px;
	border-radius:100px;
}

#contact_me {
	width:20%;
	text-align:center;
	vertical-align: top;
}

#email_img {
	height:45px;
}

#right_panel_header table {
	width:100%;
}
#about_me {
	width: 20%;
	text-align: center;
}

#header_desc {
	width: 60%;
	text-align: center;
}

#follow_link {
	float: right;
	margin-right: 29px;
	margin-top: 10px;
	font-size: 14px;
}

#follow_link:hover {
	text-decoration:underline; 
	cursor: pointer;
}

#follow_link img {
	width: 19px;
}

#short_description {
	font-size: 20px;
	padding: 15px;
}
#long_description {
	font-size: 13px;
	padding:30px;
}
#tags_description {
	color: rgb(110,110,110);
	font-size: 14px;
}

.comment_box {
	background-color: rgb(233, 233, 233);
	border-radius:25px;
	min-height:65px;
	margin: 0px auto 5px auto; 
	padding: 10px;
	width:85%;
}
input[type="submit"] {
	border: 2px solid rgb(233, 233, 233);
	background-color: #EDFDFF;
	width: 20%;
	height: 25px;
	border-radius: 15px;
	color: gray;
	margin-top: 5px;
	cursor:pointer;
}

input[type="submit"]:focus {
	outline:0;
}

.comment_img {
	width:40px;
	border-radius: 20px;
	margin:6px;
}
.comment_img_box {
	width: 60px;
	text-align: center;
}
.comment_text{
	font-size: 12px;
}
.comment_name {
	font-size: 14px;
}

.ticket_comment {
	background-color: rgb(233, 233, 233);
	width: 65%;
	border-radius: 25px;
	border: none;
	resize: none;
	padding: 20px;
	height: 95px;
}
.ticket_comment:focus {
	outline: none;
}

/* Footer */
#footer {
	background-color:black;
	height:30px;
	text-align: center;
	padding:8px;
	font-family: "Lato"
}
#footer a {
	color: white;
	text-decoration: none;
	font-weight:300;
}
#footer a:hover {
	text-decoration: underline;
}

/* Post Popup */

#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
.popup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -25%;
    position: fixed;
    top: 20%;
    width: 50%;
    z-index: 2;
}
#tag-selector-wrapper {
	width:40%;
	margin:auto;
}
#short_description_popup {
	border-radius: 5px;
}
#short_description_popup:focus {
	outline:none;
}
#long_description_popup {
	border-radius: 5px;
}
#long_description_popup:focus {
	outline:none;
}
#postPopupContent {
    margin: 4px 7px;
    text-align:center;
}
#postPopupContent textarea[name="short"] {
	width: 39%;
	height: 50px;
}
#postPopupContent textarea[name="long"] {
	width: 39%;
	height: 100px;
}
#postPopupContent textarea {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	border: 1px solid #d0d0d0;
	padding: 8px 8px;
}

/* Profile Popup */
#profilePopup {
	text-align: center;
}
#profileImage {
	height: 100px;
	border-radius: 50px;
}
#tag-updater-wrapper {
	width: 50%;
	margin: auto;
}
#logout {
	cursor: pointer;
}

/* Tags Popup */
#tagsTitle {
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

/* Login */
#center_pane {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 255px;
	font-family: 'Lato';
	font-size: 24px;
}
body.login {
	background-color: rgb(202, 202, 202);
}

/* Fade and other useful snippets*/
.fade {
   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

.fade:hover {
  background: #fff;
}

.nonresize {
	resize:none;
}




